.container {
    display: flex;
    gap: 100px;
}

.textContainer {
    display: flex;
    flex: 1px;
    flex-direction: column;
    gap: 45px;
}

.title {
    font-size: 54px;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: column;
}

.box h1 {
    color: var(--btn);
}

.desc {
    font-size: 15px;
    font-weight: 300;
}

.subtitle {
    color: var(--btn);
}

.imgContainer {
    flex: 1;
    position: relative;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    object-fit: contain;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .boxes {
        flex-direction: column;
        gap: 50px;
    }
}