.container {
    display: flex;
    gap: 100px;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.subtitle{
    color:var(--btn)
}

.title{
    font-size: 54px;
}

.desc{
    font-size: 20px;
    font-weight: 300;
}

.imgContainer {
    flex: 1;
    position: relative;
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box h1{
    color: var(--btn);
}

.img{
    object-fit: contain;
}