:root{
    --bg: #000000;
    --bgSoft: #000000;
    --text: white;
    --textSoft: #e5e5e5;
    --btn: #3673fd;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    color: var(--text);
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 1536px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}