.container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    color: gray;
}

.logo {
    font-weight: bold;
}

.text {
    font-size: 12px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}